/*Global*/
html *{
    font-family: Gadugi !important;
    font-weight: bold !important;
    border-radius: 8px 8px 8px 8px;
}

body{
    background-color: rgb(60, 60, 60);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    animation: footerFadeIn 8s;
}

select{
    float: right;
    width: 20%;
    text-align: center;
}

input{
    background: #FFFFFF; 
    color: #000000;
}

h1{
    font-size: 240%;
}

img {
    width: 4.8%;
    padding-top: 0.75%;
    position: absolute; 
    bottom: 0px;
}


/*Classes*/
.box{
    background-color:rgb(100, 20, 160);
    width: 35%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    vertical-align: middle;
    text-align: center;
    border: 3px solid black;
    padding: 1.5%;
    border-radius: 20px 20px 20px 20px;
    animation: boxSlideIn 2s;
}

.options{
    font-size: 110%;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 18%;
    margin-right: 18%;
}

.result{
    position: relative;
    margin-top: 5%;
}

.error{
    width: 40%;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 140%;
    color: rgb(0, 180, 0);
}

.success{
    width: 40%;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    color: rgb(0, 0, 0);
}

.fadeOut{
    animation: fadeOut 6s;
    animation-fill-mode: forwards;
}


/*IDs*/
#length{
    float: right;
    width: 8%;
    text-align: center;
}

#copy {
    padding-left: 0.4%;
}

#view {
    padding-left: 5.2%;
}


/*Animations*/
@keyframes boxSlideIn{
    0% {
        margin-top: 60%;
        width: 35%;
    }

    100% {
        margin-top: 10%;
        width: 35%;
    }
}

@keyframes fadeOut{
    0% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}

@keyframes footerFadeIn{
    0% {
        color: rgba(0, 0, 0, 0);
    }

    50% {
        color: rgba(0, 0, 0, 0);
    }

    100% {
        color: rgba(0, 0, 0, 1);
    }
}

/*Animate buttons please thank you https://www.w3schools.com/howto/howto_css_animate_buttons.asp
or maybe this one idk https://freefrontend.com/css-button-click-effects/*/