/*Global*/
html *{
    font-family: Gadugi !important;
    font-weight: bold !important;
    border-radius: 8px 8px 8px 8px;
}

body{
    background-color: rgb(60, 60, 60);
}

h1{
    font-size: 38px;
}


/*Classes*/
.center{
    background-color:rgb(100, 20, 160);
    width: 40%;
    margin: auto;
    margin-top: 10%;
    vertical-align: middle;
    text-align: center;
    border: 3px solid black;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    animation-name: slideIn;
    animation-duration: 2s;
}

.characters{
    font-size: 18px;
    text-align: left;
    padding-left: 225px;
    border: 0px solid black;
}


/*IDs*/
#error{
    font-size: 24px;
    color: rgb(180, 0, 0);
    -webkit-text-stroke: 0.8px black;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    animation: fadeIn 4s 2s, stayIn 100000s 6s;
}

#length{
    width: 64px;
}


/*Animations*/
@keyframes slideIn{
    from {
        margin-top: 60%;
        width: 40%;
    }

    to {
        margin-top: 10%;
        width: 40%;
    }
}

@keyframes fadeIn{
    from {
        color: rgba(0, 0, 0, 0);
    }

    to {
        color: rgba(0, 0, 0, 1);
    }
}

@keyframes stayIn{
    from {
        color: rgba(0, 0, 0, 1);
    }

    to {
        color: rgba(0, 0, 0, 1);
    }
}