/*Global*/
html *{
    font-family: Gadugi !important;
    font-weight: bold !important;
    border-radius: 8px 8px 8px 8px;
}

body{
    background-color: rgb(60, 60, 60);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    animation: footerFadeIn 8s;
}

select{
    float: right;
    width: 64px;
    text-align: center;
}

input{
    background: #FFFFFF; 
    color: #000000;
}

h1{
    font-size: 38px;
}

img {
    width: 24px;
    height: 24px;
    padding-top: 10px;
    position: absolute; 
    bottom: 0px;
}


/*Classes*/
.box{
    background-color:rgb(120, 40, 180);
    width: 592px;
    margin: 0 auto;
    margin-top: 180px;
    vertical-align: middle;
    text-align: center;
    border: 3px solid black;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    animation: boxSlideIn 2s;
}

.options{
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 110px;
    margin-right: 110px;
}

.result{
    position: relative;
    margin-top: 20px;
}

.error{
    margin: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    color: rgb(0, 180, 0);
}

.success{
    margin: auto;
    vertical-align: middle;
    text-align: center;
    color: rgb(0, 0, 0);
}

.fadeOut{
    animation: fadeOut 6s;
    animation-fill-mode: forwards;
}


/*IDs*/
#length{
    float: right;
    width: 24px;
    text-align: center;
}

#copy {
    padding-left: 2px;
}

#view {
    padding-left: 26px;
}


/*Animations*/
@keyframes boxSlideIn{
    0% {
        margin-top: 1200px;
    }

    100% {
        margin-top: 180px;
    }
}

@keyframes fadeOut{
    0% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}

@keyframes footerFadeIn{
    0% {
        color: rgba(0, 0, 0, 0);
    }

    50% {
        color: rgba(0, 0, 0, 0);
    }

    100% {
        color: rgba(0, 0, 0, 1);
    }
}

/*Animate buttons please thank you https://www.w3schools.com/howto/howto_css_animate_buttons.asp
or maybe this one idk https://freefrontend.com/css-button-click-effects/*/